$mobile-460: 460px;
$color-black: #000;

@mixin mobile-460 {
    @media (max-width: #{$mobile-460}) {
        @content;
    }
}

.holder-carrinho {
    display: flex;

    @include mobile-460 {
        height: 100%;
    }

    .carrinho-itens {
        display: none;
    }
}

.carrinho-mini {
    height: 100%;
}

a.cart--icon-link {
    height: 100%;
    display: block;

    @include mobile-460 {
        position: absolute;
        right: 0;
        padding: 1rem;
    }
}

.minicart--svg {
    height: inherit;
    display: flex;
    align-items: center;
}

svg.minicart--icon {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 0 0 -2rem;

    path {
        fill: #888;
        transition: 0.2s all;
    }
}

.cart--icon-link:hover svg.minicart--icon path {
    fill: #222;
}

.v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded {
    display: block !important;
    height: 100vh;
    position: absolute;
    background: #fff;
    top: 0;
    right: -100%;
    max-width: 320px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    transition: all 0.7s ease-out;
    cursor: default;
}

.vtexsc-bt:after {
    content: "Minha Sacola ";
    display: block;
    width: 100%;
    color: #222;
    position: absolute;
    background: #f9f9f9;
    padding: 0rem 8rem 0rem 0rem;
    top: 0vh;
    cursor: pointer;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 18px;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    
}

.vtexsc-center {
    margin: 38rem 0 0 1rem;
    position: relative;
    font-size: 14px;

    tr {
        display: none;
    }

}

.vtexsc-bb:after {
    content: "Continuar comprando";
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    background: #897e82;
    bottom: 0vh;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bolder;
    line-height: 4rem;
}

.is-active--minicart {
    right: 0 !important;
}

#backdrop-minicart {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    left: -100%;
    z-index: 1;
    transition: all 0.4s ease-out;
}

.is-active--backdrop {
    left: 0 !important;
}

.cartTotal {
    font-size: 0;
    
    &::before{
        content: "Total: R$";
        font-size: 14px;
        color: $color-black;

    }
}